<div id="profileGrid">
    <input type="hidden" value='<%= chartData %>' id="chartData">
    <div id="profileInfo" class="container">
        <div id="picWithName">
            <img src="<%= user.image %>" id="profilePic">
            <label id="profileLabel"><%= user.firstName%> <br> <%= user.lastName%></label>
        </div>
        <table id="profileBio" class="table">
            <thread>
                <tbody>
                    <tr>
                        <td class="profileBioLabel">Bio</td>
                        <td><%= user.bio %></td>
                    </tr>
                    <tr>
                        <td class="profileBioLabel">Investment Goals</td>
                        <td><%= user.investmentGoals%></td>
                    </tr>
                    <tr>
                        <td class="profileBioLabel">Location</td>
                        <td><%= user.location %></td>
                    </tr>
                </tbody>
            </thread>
        </table>
    </div> 
    <div id="overallProgress">
        <div id="progressChartCont">
            <canvas id="progressChart"></canvas>
        </div>
    </div>
    <div id="topPortfoliosProfile">
        <table id="portfolioListProfile" class="table">
            <thread>
                <tr class="portfolioListEl">
                    <th scope="col" id="portfolioName">Portfolio Name</th>
                    <th scope="col" id="portfolioTopAssets">Top Assets</th>
                    <th scope="col" id="portfolioTotalGains">Gains</th>
                </tr>
                <tbody>
                    <% user.portfolios.forEach((portfolio)=>{ %>
                    <tr class="portfolioListEl">
                      <td><%= portfolio.portfolioName %></td>
                      <td>
                        <div id="portfolioAssetsProfile">
                            <% portfolio.assets.forEach((asset)=>{ %>
                                <div class="portfolioAssetProfile"><%= asset.assetName %>: $<%= Math.round((asset.assetGain)*100)/100 %></div>
                            <% }) %> 
                        </div>
                      </td>
                      <td>Gains: <% if (portfolio.gainsHist[portfolio.gainsHist.length-1]>0) {%>
                        <span id='arrow'>↑</span><% }else{ %><span id='arrow'>↓</span><% } %>$<%= Math.round((portfolio.gainsHist[portfolio.gainsHist.length-1])*100)/100 %> %: <%=  %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
            </thread>
        </table>
    </div>
<script>
    
    // let user = JSON.parse(document.getElementById('userForScript').value);
    let chartData = JSON.parse(document.getElementById('chartData').value).data;
    let chartDates = [];
    let chartVals = [];
    chartData.forEach(x=>{
        chartDates.push(x[0]);
        chartVals.push(x[1]);
    })
    let myChart = document.getElementById('progressChart').getContext('2d');
    let lineChart = new Chart(myChart, {
        type:'line',
        data:{
            labels: chartDates,
            datasets:[{
                data: chartVals,
                // borderColor:rgb(200, 150, 90)
            }],
        },
        options:{
            plugins: {
                legend: {
                    display: false
                }
            },
            maintainAspectRatio: false,
            responsive: true,
        }
    });
</script>