
<div id="searchResults">
    <% matchingUsers.forEach(user=>{ %>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src='<%= user.image %>' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= user.location %></h6>
              <p class="card-text"><%= user.bio %></p>
              <div class="cardButton">
                <a class="card-link" href="/visitProfile?id=<%= user.id %>">Visit</a>
              </div>
            </div>
          </div>

    <% }) %>
</div>
